html {
  box-sizing: border-box;
  margin: 0 auto;
}

/* navstyle */

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #EDF8F7;
}

.navbar__logo {
 text-decoration: none;
 color: black;
}

.navbar__links {
  list-style: none;
  display: flex;
}

.navbar__item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}

/* header style */

header {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #EDF8F7;
    box-shadow: 0 30px 40px #EDF8F7;
    padding: 50px;
    height: 300px;
}

.title__container {
    flex-grow: 1;
    
}

.title__wrapper {
    text-align: end;
    
}

.title__wrapper h2 {
    padding-right: 100px;;
}

.main__img {
    flex-grow: 2;
    height: 100%;
}

.main__img {
    background-image: url(assets/np-hero-image.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.main__img__picture {
    background-image: url(assets/np-hero-image.png);
}



/* media queries */

@media screen and (max-width: 960px) {
    header {
      flex-direction: column;
    }
}
    

