html {
  box-sizing: border-box;
  margin: 0 auto;
}

/* Navbar Section */
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #EDF8F7;
}

.navbar__logo {
 text-decoration: none;
 color: black;
 font-weight: bold;
}

.navbar__links {
  list-style: none;
  display: flex;
}

.navbar__item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}

/* Header Section */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #EDF8F7;
    box-shadow: 0 30px 40px #EDF8F7;
    padding: 50px;
    height: 300px;
}

.title__container {
    flex-grow: 1;
    
}

.title__wrapper {
    text-align: end;
    
}

.title__wrapper h2 {
    padding-right: 100px;
}

.main__img {
    flex-grow: 2;
    height: 100%;
}

.main__img {
    background-image: url(assets/np-hero-image.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/* subheader style */
.subheader {
    padding-top: 50px;
    text-align: center;
    color: #373B42;
}

/* List Section */
.password{
    color: #373B42;
}

.dropdown {
    list-style: none;
    background-color: #fff;
    background: rgba(255,255,255,0);
    left: -9999px; 
}

.dropdown li {
    padding-top: 1px;
    float: none;
    color: #373B42;
}

.dropdown li:hover ul{
    display: block;
}

.list__container {
    margin: auto 250px;
}

.list {
    display: flex;
    justify-content: space-around;
}

.password_items {
    display: block;
    width: 100%;

}

.password__item {
    color: #373B42;
    list-style: none;
    border-bottom: 1px solid #373B42;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 /* Faq Section */
 .faq {
     height: 350px;
     background-color: #F8F8F8;
 }

/* Form Section */

.form__img {
    flex-grow: 2;
    height: 100%;
}

.form__img {
    background-image: url(assets/np-hero-image.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Footer Section */

footer {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
}

footer p {
    color: #383C43;
}


.footer__list li {
    list-style: none;
    padding-bottom: 10px;
}

.footer__list li a{
    color: #383C43;
    text-decoration: none;
}

.footer__list li:first-child a {
    text-transform: uppercase;
    color: #B9BABD;
}

/* media queries */

@media screen and (max-width: 960px) {
    header {
      flex-direction: column;
    }
}
    

