html {
  box-sizing: border-box;
  margin: 0 auto;
}

.btn {
  background-color: #43a5a1;
  border: 0;
  padding: 10px;
  border-radius: 5%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


body {
  /* html reset */
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

/* Navbar Section */

.nav__section {
  /* navbar theme properties */
  font-size: 1em;
  color: #151922;
  font-weight: 600;
  background-color: #edf8f7;
  width: 100%;
  height: 100%;
}

nav {
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 20px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.nav__item {
  margin: 15px 20px;
}

.menu {
  display: none;
}

@media (max-width: 800px) {
  .nav__section {
    font-size: 0.7em;
  }
}

@media (max-width: 650px) {
  .nav__section {
    height: 100%;
  }
  .nav {
    flex-direction: column;
  }

  .nav__logo {
    display: none;
  }

  .menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    color: #43a5a1;
  }

  .is-expanded {
    display: none;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .nav__item {
    flex-basis: 100%;
    text-align: center;
  }
}

.btn--nav {
  margin: 7px 10px 7px 10px;
}

/* Header Section */
header {
  background: #edf8f7;
  box-shadow: 0 30px 40px #edf8f7;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  padding-top: 60px;
  height: 400px;
  margin: 0 auto;
}

.title__container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.title__wrapper {
  text-align: start;
  width: 60%;
  float: right;
}

.title__wrapper h1 {
  font-size: 2.5em;
}
.main__img {
  flex-grow: 2;
  height: 100%;
  background-image: url(assets/np-hero-image.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.btn--header {
  padding: 10px 30px 10px 30px;
  font-size: 1em;
}

@media (max-width: 1130px) {
  .title__wrapper h1 {
    font-size: 2em;
  }
  .main__img {
    height: 320px;
  }
}

@media (max-width: 910px) {
  .title__wrapper h1 {
    font-size: 1.5em;
  }

  .btn--header {
    padding: 10px 15px;
  }

  .main__img {
    height: 280px;
  }
}

@media (max-width: 682px) {
  .header__wrap {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title__container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
  }

  .title__wrapper {
    float: none;
    padding-left: 20px;
  }

  .main__img {
    width: 70%;
    height: 150px;
  }

  .btn--header {
    padding: 5px 10px;
    font-size: 0.8em;
  }
}

/* subheader style */
.subheader {
  padding-top: 50px;
  text-align: center;
  color: #373b42;
  font-size: 1.1em;
}

/* List Section */

.list__title {
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 20px;
  color: #373b42;
}

.list__title--pass,
.list__title--count {
  width: 25%;
}

.list__title--count select {
  color: #373b42;
}

.password__items {
  align-items: center;
  padding: 0;
}

.password__item {
  max-width: 1280px;
  color: #373b42;
  border-top: 1px solid #e8e8e9;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  width: 68%;
  font-weight: bold;
  font-size: 0.7em;
}

.list__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  width: 68%;
  color: #373b42;
}

.list__subtitle--count {
  color: #373b42;
  width: 20%;
  height: 40px;
}

.btn__list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

@media (max-width: 682px) {
  .list__subtitle--count {
    width: 30%;
  }
}

/* Faq Section */
.faq {
  height: 400px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheader__faq {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: 0;
}

.accordion {
  max-width: 1280px;
  display: flex;
  transition: display 2s linear;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.151);
  width: 30%;
  color: #373b42;
  margin-bottom: 7px;
}

.accordion__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  color: #383c43;
}

.accordion__arrow {
  padding-right: 10px;
  font-weight: bold;
}

.accordion h3 {
  padding: 0 10px 0 25px;
}

.accordion__body {
  padding: 0 10px 15px 20px;
}

.accordion h3,
.accordion__arrow {
  font-size: 0.8em;
}

.accordion__body {
  font-size: 0.7em;
}

@media screen and (max-width: 1200px) {
  .accordion {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    width: 70%;
  }

  .faq {
    height: 450px;
  }

  .accordion__body {
    font-size: 0.6em;
  }

  .accordion__title {
    font-size: 0.8em;
  }
}


/* Form Section */

.form__section {
  background: #edf8f7;
  display: flex;
  flex-direction: column;
  height: 550px;
}

.form__subsection {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}


.form__img__wrap {
  width: 50%;
  padding-bottom: 50px;
  height: 100%;
}

.form__img {
  background-image: url(assets/np-form-image.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
}

@media screen and (max-width: 768px) {

  .subheader {
    font-size: 0.7em;
  }

  .form__section {
    flex-direction: column;
    height: 720px;
    width: 100%;
  }

  .form__subsection {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .form__img__wrap {
    height: 250px;
    width: 100%;;
  }

  .form__img {
    width: 100%;
  }
    
}

/* Form Fieldset Section */

.form__fieldset__container {
width: 40%;
height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

form p {
  color: #383c43;
  font-size: 0.8em;
}

.fieldset__comment {
  margin-top: 0;
  padding-bottom: 15px;
  font-size: 0.6em;
  font-weight: bold;
}

.fieldset__comment a {
  color: #151922;
}

.form__fieldset--item {
  padding-bottom: 15px;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.error img {
  padding-right: 5px;
}

input,
textarea {
  width: 80%;
  padding: 7px;
}

textarea {
  height: 100px;
}

.textarea--item {
  padding-bottom: 5px;
}

input::placeholder {
  font-weight: bold;
  color: #383c43;
  font-size: 0.8em;
}

textarea::placeholder {
  font-weight: bold;
  color: #383c43;
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  .form__fieldset__container {
    width: 80%;
  }
}

/* Footer Section */

footer {
  max-width: 1280px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.7em;
  font-weight: bold;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 40px;
}

footer p {
  color: #383c43;
}

.footer__list {
  padding: 0;
}

.footer__list li {
  list-style: none;
  padding-top: 10px;
}

.footer__list li a {
  color: #383c43;
  text-decoration: none;
}

.footer__list li:first-child a {
  text-transform: uppercase;
  color: #b9babd;
}

/* media queries */

@media screen and (max-width: 920px) {
  header {
    flex-direction: column;
  }
}

@media screen and (max-width:1536px) {
  footer {
    padding-right: 100px;
     padding-left: 100px;
  }
}
